@font-face {
  font-family: 'fancontrolplus2';
  src: url('/plugins/fancontrolplus2/fonts/fancontrolplus2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-fancontrolplus2 {
  font-family: 'fancontrolplus2' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fancontrolplus2:before {
  content: "\e900";
}
